header {
    margin:auto;
}
h3 {
    color:white; text-decoration: underline;
}
body {
    color:black; text-decoration:underline;
    background-color: black;
    background-image: url("sanantonio.png");
    background-repeat: repeat;
}

ul {list-style-type:square;
}

table {
	border: 1px solid black;
	margin: 100px auto;
}
.fancy-header {color: black;

}
.fancy-h2 {color: black;}